@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "tailwindcss-animate";

@import "../styles/fonts.css";

:root {
  font-family: "SpoqaHanSansNeo", monospace;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@layer base {
  body {
    background-color: #fafaf8;
    color: #1a1a1a;
  }
}
