@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "tailwindcss-animate";

:root {
  font-family: D2Coding, "D2 coding", monospace;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@layer base {
}
